
/* :::::::::::::::::::::::::::FONTS :::::::::::::::::::::::::::::::::::::::: */
/* font-family: 'Overpass', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
/* font-family: 'Courgette', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* :::::::::::::::::::::::::::RESETS :::::::::::::::::::::::::::::::::::::::: */
html, body {
	height: 100%;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
  	margin:0; 
	background: rgb(196,231,226);
	background: linear-gradient(229deg, 
	rgba(196,231,226,1) 0%, rgba(223,196,231,1) 47%, 
	rgba(196,225,231,1) 65%);
	background-repeat: no-repeat;
    background-attachment: fixed;

}

*, *::before, *::after {
	box-sizing: inherit;
}



* {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.2; 
  margin: 0;
  padding:0;  
}

ul, ol { 
	list-style-type: none;
}
  
img{
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: bottom;
}


/* =================VARIABLES==================*/
html{
	
	--fOver:Overpass, sans-serif;  /* Common font */
	--fCgette:Courgette, cursive; /* font for quote result */
	--pad-gap:1em; /* paddings and gaps */
}



/* Login and Sing Up for style */

.form-login, .form-createAcc {
	background-image: linear-gradient(229deg, rgb(215, 228, 226) 0%, rgb(232, 206, 240) 47%, rgb(212, 228, 231) 65%);
	border-radius: 15px;
	box-shadow: 1px 1px 5px rgb(141, 111, 121);
	height: 100%;
	margin-top: 3em;
	padding-top: 3em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;

	display: grid;
	gap: var(--pad-gap);
}

/* ====== Main Logo animation and style ====== */

.btn-logo-container {
	height: 100%;
	width: 100%;
}

.btn-logo {
	background-image: linear-gradient(-45deg, #e7a28d, #e07da3, #76b7cf, #68d6bd, #7e87d8);
	animation: gradient 9s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn-logo {
	background-size: 200% auto;
	border-radius: 50%;
	box-shadow: 0 0 20px #eee;
	border: none;
	color: white;
	display: block;
	height: 150px;
	margin: auto;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	width: 150px;
}

.div-logo {
	display: flex;
	margin: auto;
	margin-top: 1em;
	text-align: center;
}

/* Maing logo and login/SignUp forms container */

.div-container {
	border: 1px solid rgb(149, 125, 151);
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgb(194, 193, 193);
	margin-top: 1em;
	padding-bottom: 10em;
	
}

.containerSignIn {
	grid-area: login;
	margin: auto;
	/* text-align: center; */

}

/* .containerSignIn div {

	text-align: left;
	margin: .5em;
	padding: .3em;
	background-color: rgb(224, 223, 223);
	border-radius: 5px; 
	border: .2px solid gray;
	color: rgb(3, 3, 3);
	
} */

.logfieldwraper{
	display: grid;
	background-color: rgb(224, 223, 223);
	border-radius: 5px; 
	border: .2px solid gray;
	color: rgb(3, 3, 3);
	gap: calc(var(--pad-gap)/4);
	padding: .3em;
}

.containerSignUp {
	grid-area: login;
	/* text-align: center; */
	margin: auto;
	/* margin-right: 8em; */
}

/* .containerSignUp div {
	text-align: left;
	margin: .5em;
	padding: .3em; 
	background-color: rgb(224, 223, 223);
	border-radius: 5px;
	border: .2px solid gray;
	color: rgb(3, 3, 3);
} */

.button-box{
	background-color: transparent;
}

.div-body {
	display: flex;
	flex-direction: column;
}

.signIn, .signUp, .createAcc, .login {
	padding: 3px 15px;
	margin: .5em;
	border-radius: 6px;
	background-image: linear-gradient(rgb(189, 189, 189), rgb(170, 170, 170), rgb(230, 230, 230));
}

.signIn:active, .signUp:active, .createAcc:active, .login:active {
	background-image: linear-gradient(rgb(155, 155, 155), rgb(236, 236, 236), rgb(172, 172, 172));
}



/* class to hide elements */
.hide{
	display: none;
}

.flexx{
	display: flex;
}


/* =================MAIN CONTAINER=========================== */
.mainly{
	display: grid;
	grid-template-columns:1fr;
	color:rgb(90, 90, 90);
	font-size: 1em;
	font-weight: bold;
	font-family: var(--fOver);
}
/* All children inherit font properties */
.mainly *{
	color:inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
}

/* Toggle grid property of quote section and history section */
.dispGrid{
	display: grid;
}


/* ---- header for logo and text logo--------*/
.mainHeader{
	display: flex;
	justify-content: space-between;
	padding: var(--pad-gap) calc(var(--pad-gap)/2);
}

.logoName{
	display: flex;
	align-items: center;
	gap: var(--pad-gap);
	}
/* picture logo */
.logo{
	width: 2em;
	height: auto;
	
}
	
/* text logo */
.title{
	display: flex;
	color: rgb(49, 49, 49);
	font-size: 1.3em;
	text-transform: uppercase;
	gap: calc(var(--pad-gap)/8);
}

.title span:first-child{
	color: rgb(121, 141, 144);
}

.title span:last-child{
	color:#B290C2;
}

/* ----------------------- */

.userHelp{
	display: flex;
	gap: calc(var(--pad-gap)/2);
	align-items: center;
}

.help{
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	background-color: transparent;
	vertical-align: center;
	border:0.02em solid rgb(126, 126, 126);
	color: rgb(126, 126, 126);
	font-size: 0.9em;
	cursor: pointer;
	position: relative;
}


.dropdownUser{
	display: flex;
	position: relative;	
}

.userIcon{
	background: url("../img/usericon.svg");
	background-repeat: no-repeat;
	width: 1.7em;
	height:1.7em;
	cursor: pointer;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: center;
	background-size: 1.3em 1.3em;
	background-color:rgba(255, 255, 255, 0.104);
	position: relative;
}


.userIcon:hover{
	background-color:rgba(255, 255, 255, 0.304);
}

.userIcon:after {

	background-color:rgba(175, 175, 175, 0.304);
	content: "";
	border-radius: 0.5em;
	display: block;
	position: absolute;
	width: 1.8em;
	height:1.8em;
	top:0;
	left: 50%;
	margin-left:-.9em;
	opacity: 0;
	transition: all 0.8s;
  }
  
  .userIcon:active:after {
	opacity: 1;
	transition: 0s;
  }


.detailsDrop{
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	gap: var(--pad-gap);
	padding: calc(var(--pad-gap));
	border:0.02em solid rgb(201, 201, 201);
	box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.3);
	border-radius: 0.5em;
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: calc(var(--pad-gap)/2);
	
	z-index: 1;
	
	background-color: #ebebeb;
	min-width: 8em;
	
}

.signedAs{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--pad-gap)/2);
	padding-bottom: var(--pad-gap);
	border-bottom: 0.02em solid rgb(201, 201, 201);	
	font-size: 0.7em;
}

.signedAs span:first-child{
	color: rgb(0, 0, 0);
	font-weight: bolder;
}
.signedAs span:last-child{
	color: rgb(100, 100, 100);
	font-weight: lighter;
	
}

.signOut{
	padding: calc(var(--pad-gap)/4) calc(var(--pad-gap)/2) calc(var(--pad-gap)/4) calc(var(--pad-gap));
	width: fit-content;
	align-self: center;
	font-size: 0.8em;
	background: url("../img/signout.svg");
	background-repeat: no-repeat;
	cursor: pointer;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: left center;
	background-size: 0.8em 0.8em;
	color: rgb(83, 83, 83);
	opacity: 0.7;
	margin-top: var(--pad-gap);
	
}

.signOut:hover{
	opacity: 1;
}

/* ----------------------------------------------- */
/* subcontainer for quote section and history section */
.subcontainer{
	display: grid;
	grid-template-columns:1fr;
}

/* container for quote section */
.quotewraper{
	flex-grow: 3 1 100%;

}
	
/* ----------Container for quote generator section-------- */
.quote-stion{
	gap: var(--pad-gap);

}

/* Quote section and history section */
.quote-stion, .histo-stion{
	color:inherit;
	font-size: inherit;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.356);
	box-shadow: 0 -7px 12px -5px rgba(0,0,0,0.2);
	
}

/* ----------------------------------------------- */
/* -------Section to generate the quote ----- */
.generate{
	display: flex;
	justify-content: space-between;
    gap: var(--pad-gap);
	align-items: center;
	padding:  calc(var(--pad-gap)*1) calc(var(--pad-gap)*1);
	background-color: rgba(0, 0, 0, 0.089);
	border-bottom: 0.05em solid rgb(201, 201, 201); 
}	
/*--------------- quote header */
.quoteHeader{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: calc(var(--pad-gap));

}

/* container for languages supported */
.selectContainer{
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: calc(var(--pad-gap)/2);
	height: fit-content;
}

/* label for  languages supported */
.select-label{
	font-weight: bold;
	font-size: 0.8em;
	padding-left: calc(var(--pad-gap)/4);
}

/* list of languages supported */
.lang-quote, .lang-historial, .orderBy{
	background-color: transparent;
	outline:none ;
	border:none;
    border-bottom: 0.2em solid rgb(163, 163, 163) ;
	font-size: 0.9em;
}

/* Commont tooltip for buttons */
/* tooltip body */
.tooltipbody{
	position: relative;
}
/* tooltip text */
.tooltipSpan{
	display: none;
	width: 7em;
	background-color: rgba(0, 0, 0, 0.842);
	font-size: 0.6em;
	font-weight: bold;
	color: aliceblue;
	justify-content: center;
	border-radius: 2em;
	padding: calc(var(--pad-gap)/3);
	position: absolute;
	z-index: 1;
	top: 130%;
	left: 50%;
	margin-left: -3.5em;
  	transition: 0.5s;
}
 
.tooltipSpanHelp{
	display: none;
	width: 7em;
	background-color: rgba(0, 0, 0, 0.842);
	font-size: 0.6em;
	font-weight: bold;
	color: aliceblue;
	justify-content: center;
	border-radius: 2em;
	padding: calc(var(--pad-gap)/3);
	position: absolute;
	z-index: 1;
	top: 130%;
	right:0;
	/* margin-left: -3.5em; */
  	transition: 0.5s;
}

.inspiredBorder{
	border-right:0.02em solid rgb(163, 163, 163);
	height: 2em;
	padding-right: var(--pad-gap);
	display: flex;
}

/* Button to generate random quote (to get inspired) */
.generateBtn{
	background: url("../img/getInspiredHover.svg");
	background-repeat: no-repeat;
	width: 1.7em;
	height:1.7em;
	cursor: pointer;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: center;
	background-size: 1.3em 1.3em;

}

/* Button to generate random quote when hover */
.generateBtn:hover{
	background-color:rgba(255, 255, 255, 0.304);
}


.generateBtn:after {

	background-color:rgba(175, 175, 175, 0.304);
	content: "";
	border-radius: 0.5em;
	display: block;
	position: absolute;
	width: 1.9em;
	height:1.9em;
	top:0;
	left: 50%;
	margin-left:-.95em;
	opacity: 0;
	transition: all 0.8s;
  }
  
  .generateBtn:active:after {
	opacity: 1;
	transition: 0s;
  }



/* Button to display form to creater own quotes */
.createyoursBtn{
	background: url("../img/createyoursHover.svg");
	background-repeat: no-repeat;
	width: 1.7em;
	height:1.7em;
	cursor: pointer;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: center;
	background-size: 1.3em 1.3em;
}
/* Button to display form to creater own quotes when hover */
.createyoursBtn:hover{
	background-color:rgba(255, 255, 255, 0.304);
}

.createyoursBtn:after {

	background-color:rgba(175, 175, 175, 0.304);
	content: "";
	border-radius: 0.5em;
	display: block;
	position: absolute;
	width: 1.9em;
	height:1.9em;
	top:0;
	left: 50%;
	margin-left:-.95em;
	opacity: 0;
	transition: all 0.8s;
  }
  
  .createyoursBtn:active:after {
	opacity: 1;
	transition: 0s;
  }



/* Button to indicate which button is active */
.btnActive{
	background-color:rgba(255, 255, 255, 0.404);
}

/* Button to indicate which button is inactive */
.btnInactive{
	background-color:transparent;
	opacity: 0.7;
}



/* --------quote footer */
.quoteFooter{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* save quote button */
.saveQuoteBtn{
	background: url("../img/saveHover.svg");
	background-repeat: no-repeat;
	width: 1.7em;
	height:1.7em;			
	cursor: pointer;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: center;
	background-size: 1.3em 1.3em;	
}

/* save quote button when hover */
.saveQuoteBtn:hover{
	background-color:rgba(255, 255, 255, 0.304);
}

.saveQuoteBtn:after {

	background-color:rgba(175, 175, 175, 0.304);
	content: "";
	border-radius: 0.5em;
	display: block;
	position: absolute;
	width: 1.9em;
	height:1.9em;
	top:0;
	left: 50%;
	margin-left:-.95em;
	opacity: 0;
	transition: all 0.8s;
  }
  
  .saveQuoteBtn:active:after {
	opacity: 1;
	transition: 0s;
  }


/* save quote button when disabled */
.saveQuoteBtn:disabled{
	opacity: 0.4;
	cursor: none;
	background: url("../img/save.svg");
	background-repeat: no-repeat;
	width: 1.7em;
	height:1.7em;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: center;
	background-size: 1.3em 1.3em;	
}

/* container for alert message  when the quote is saved */
.alert{
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: center;
	gap: calc(var(--pad-gap)/3);
	align-content: flex-end;
	padding-top: calc(var(--pad-gap));
	z-index: 1;
	flex: 1 1 auto;
	top: 100%;
	left: 50%;
	width:3em;
	margin-left: -1.5em;
	margin-top: -3em;
}


.accCreate-alert span {
	display: flex;
	text-align: center;
	margin: .5em;
	padding: .3em;
	background-color: rgb(129, 250, 135);
	border-radius: 5px;
	border: .2px solid gray;
	color: rgb(44, 95, 21);
}

.invalidCredentials-alert span {
	display: flex;
	text-align: center;
	margin: .5em;
	padding: .3em;
	background-color: rgb(250, 157, 129);
	border-radius: 5px;
	border: .2px solid gray;
	color: rgb(95, 42, 21);
}


/* checkmark icon */
.alert span:first-child{
	color: rgb(138, 248, 138);
	text-shadow:
	-2px -2px 2px #333333,
	-2px 2px 2px #333333,
	 2px -2px 2px #333333,
	 2px 2px 2px #333333;
	font-weight: bold;
	font-size: 1.3em;
}

/* saved message  */
.alert span:last-child{
	color: rgb(138, 248, 138);
	font-size: 0.7em;
	background-color: black;
	padding: calc(var(--pad-gap)/8) calc(var(--pad-gap));
	flex: 0 1 auto;
	border-radius: 4em;
}



/* ----Section to display result of Random quotes (to get inspired) ----- */
.result{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"qote"
	"cite";
	justify-content: center; 
	align-items: center;
	padding: 0  calc(var(--pad-gap)*1) calc(var(--pad-gap)*1)  calc(var(--pad-gap)*1);

}

/* quote picture bg */
.quoteSymbol{
	grid-area: qote;
	width: auto;
	max-height: 5em;
	justify-self: center;
} 


/* text content of the quote */
.quoteText{
	grid-area: qote;
	font-size: 1.2em;
	font-family: var(--fCgette);
	height: auto;
	max-width:60em;
	flex:0 1 100%;
	line-height: 2;
	text-align: center;
	justify-self:center ;
}

/* open quote */
.q-open{
	padding-right: calc(var(--pad-gap)/2);
	font-size: 1.8em;
}

/* close quote */
.q-close{
	padding-left: calc(var(--pad-gap)/2);
	font-size: 1.8em;
}

/*------------ footer of the quotation -------------*/
.author{
	display: flex;
	justify-content: center;
	padding: 0 var(--pad-gap);
}

/* cite for the author */
.cite{
	padding-top:calc(var(--pad-gap)*2);
	border-top:0.2em solid rgb(207, 46, 46) ;
	width: 60%;
	text-align: center;
	font-size: 1.4em;
}


/* Form to capture information to create own quotes  */
.form-CreateQuote{
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
	gap: var(--pad-gap);
	padding: 0  calc(var(--pad-gap)*1) calc(var(--pad-gap)*1)  calc(var(--pad-gap)*1);
		
}

/* container for labels and inputs  */
.container-CreateQuote {
	display: flex;
	flex-direction: column;
	gap: calc(var(--pad-gap)/3);
}

/* container for subheading and clear form button  */
.title-clearForm{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* clear form button  */
/* { -------- */
.clearForm{
	background: url("../img/clearForm.svg");
	background-repeat: no-repeat;
	width: 1.7em;
	height:1.7em;
	cursor: pointer;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: center;
	background-size: 1.3em 1.3em;
}

/* clear form button:hover  */
.clearForm:hover{
	background-color:rgba(255, 255, 255, 0.304);
}


.clearForm:after {

	background-color:rgba(175, 175, 175, 0.304);
	content: "";
	border-radius: 0.5em;
	display: block;
	position: absolute;
	width: 1.9em;
	height:1.9em;
	top:0;
	left: 50%;
	margin-left:-.95em;
	opacity: 0;
	transition: all 0.8s;
  }
  
  .clearForm:active:after {
	opacity: 1;
	transition: 0s;
  }
/* -------} */

/* subheading */
.label-create{
	color: rgb(128, 128, 128);
	font-size: 0.9em;
}

/* text area to write own quote  */
.yourtext{
	flex-wrap: 1;
	width: 100%;
	padding: var(--pad-gap);
	box-shadow: 0px 6px 12px -7px rgba(75, 45, 45, 0.25);
	border: 0.05em solid rgb(216, 216, 216);
	border-radius: 0.5em;
	background-color: rgba(255, 255, 255, 0.157);
	resize: vertical;
	height: auto;
	max-height: 20em;
}

/* text area to write own quote when hover  */
.yourtext:hover{
	background-color: rgba(255, 255, 255, 0.257);
	outline: none;
}

/* text area to write own quote when focus  */
.yourtext:focus{
	background-color: rgba(255, 255, 255, 0.809);
	outline: none;
}

/* input to enter the name  */
.yourname{
	flex-wrap: 1;
	width: 100%;
	padding: var(--pad-gap);
	box-shadow: 0px 6px 12px -7px rgba(75, 45, 45, 0.25);
	border: 0.05em solid rgb(216, 216, 216);
	border-radius: 0.5em;
	background-color: rgba(255, 255, 255, 0.157);
}

/* input to enter the name when hover  */
.yourname:hover{
	background-color: rgba(255, 255, 255, 0.257);
	outline: none;
}

/* input to enter the name when focus  */
.yourname:focus{
	background-color: rgba(255, 255, 255, 0.809);
	outline: none;
}

/* default place holder for text area and input field  */
.yourtext::placeholder, .yourname::placeholder{
	color:  rgb(144, 144, 144);
	font-size: 0.8em;
}

/* alert message when text area and input field are empty  */
.alertFieldEmpty::placeholder{
	color: rgb(245, 41, 41);
	font-size: 0.9em;
}



/* =================HISTORICAL SECTION=========================== */
/* -----------Container for historical section -------- */
.histo-stion{
flex: 1 1 auto;
align-content: flex-start;
min-height: 95vh;
}


/* Historical header for subheading and closing button */
.histoHeader{
display: flex;
align-items: center;
padding: var(--pad-gap);
justify-content: space-between;
background-color: rgba(0, 0, 0, 0.089); 
}

/* subheading for History  */
.histoHeading{
	font-weight: bold;
}

/* Button to close history section  */
.closeHistoBtn{
	background: url("../img/closeBtn.svg");
	background-repeat: no-repeat;
	width: 2em;
	height:2em;
	cursor: pointer;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: center center;
	background-size: 1em 1em;
	border-radius: 0.5em;
}

/* Button to close history section when hover  */
.closeHistoBtn:hover{
	background-color:rgba(255, 255, 255, 0.304);
}

/* container for history filters  */
.Filters{
	display: flex;
	justify-content: space-between;
	gap: calc(var(--pad-gap)*2);
	align-items: flex-end;
	padding: 0 var(--pad-gap) var(--pad-gap) var(--pad-gap);
	background-color: rgba(0, 0, 0, 0.089);
	border-bottom: 0.05em solid rgb(201, 201, 201); 
}

/* display the number of elements in the result */
.qtyResults span{
	color:  rgb(151, 151, 151);
	font-size: 0.8em;
	
}

/* container for message when history is empty  */
.itsEmpty{
	display: grid;
	padding: calc(var(--pad-gap)*5) var(--pad-gap);
	gap: var(--pad-gap);
	justify-content: center;
	align-items: center;
}


/* ------------------------- */
/* container to display history of saved quotes  */
.historicalResult {
	display: grid;
	max-height: 75vh;
	overflow: auto;
}


/* container of the quote saved  */
.historyItem{
	display: grid;
	grid-template-columns: 1fr;	
	padding: var(--pad-gap);
	border-bottom: 0.05em solid rgb(201, 201, 201);
}

/*firt child of the container of the quote saved  */
.historyItem:first-child{
    border-top: 0.05em solid rgb(201, 201, 201); 
}

/*container of the quote saved when hover */
.historyItem:hover {
	background-color: rgba(255, 255, 255, 0.253);
}

/* header of the item saved  */

.historyItem-header{
	display: flex;
	align-items: center;
	justify-content: space-between;

}

/* footer of the item saved  */
.historyItem-footer{
	display: grid;
	grid-template-columns: 1fr;
	gap: calc(var(--pad-gap)/2);
}

/* id of the quote saved  */
.quoteID{
	color: rgb(148, 139, 139);;
	font-size: 0.8em;
	flex-grow: 1;
}

/* text of the quote saved  */
.quoteRowTxt{
	display: flex;
	color: rgb(110, 110, 110);
	font-size: 0.9em;
	flex-wrap: wrap;
}

/* author of the quote saved  */
.quoteRowAuthor{
	font-size: 0.8em;
}

/* button to delete quote saved  */
.deleteRowQuote{
	background: url("../img/delete.svg");
	background-repeat: no-repeat;
	width: 2em;
	height:1.9em;
	cursor: pointer;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: center center;
	background-size: 0.9em 0.8em;
}

/* button to delete quote saved when hover */
.deleteRowQuote:hover {
	background-color:rgba(134, 134, 134, 0.157);
}

/* button to see quote saved  */
.seeRowQuote{
	background: url("../img/seeQuote.svg");
	background-repeat: no-repeat;
	width: 2em;
	height:1.9em;
	cursor: pointer;
	border: none;
	border-radius: 0.5em;
	object-fit: cover;
	background-position: center center;
	background-size: 0.9em 0.8em;
}

/* button to see quote saved when hover */
.seeRowQuote:hover {
	background-color:rgba(134, 134, 134, 0.157);
}



/* --------------------------------- */
/* container for button to open history section */
.openHistoContainer{
	display: flex;
	flex-direction: column;
	gap: var(--pad-gap);
	justify-content: center;
	align-items: center;
	padding: calc(var(--pad-gap)*2) var(--pad-gap);
}



/* open hitory button */
.openHistoBtn{
	background: url("../img/historyBtn.svg");
	background-repeat: no-repeat;
	width: 6em;
	height:6em ;
	cursor: pointer;
	border: none;
	object-fit: cover;
	background-position: center;
	background-size: 5.5em 5.5em;
}

/* open hitory button when hover */
.openHistoBtn:hover{
	background: url("../img/historyBtnHover.svg");
	background-repeat: no-repeat;
	object-fit: cover;
	background-position: center;
	background-size: 5.5em 5.5em;
	border-radius: 50%;
	background-color:rgba(255, 255, 255, 0.304);
	
}

/* open hitory label*/
.histolabel{
	color:#898989;
}

/* open hitory label when hover */
.openHistoBtn:hover + .histolabel{
	color: #A385AF;
}



.userloginsection{

}


/* help section */
.helpSection{
	display: grid;
	padding: var(--pad-gap);
	gap: var(--pad-gap);
}

/* help section title  */
.helpSection h1{
	color:rgb(112, 92, 221);
	font-weight: bolder;
	font-size: 1.2em;
}

/* help content information  */
/* {-------- */
.helpDetails{
	display: flex;
	padding-left: var(--pad-gap);
}

.helpSection summary {
	color:rgb(0, 0, 0);
	font-weight: bolder;
	font-size: 1.1em;
}

.helpSection img{
	width: 15em;
	height: auto;
	border-radius: 5px;
	box-shadow:1px 1px 6px 3px rgba(0,0,0,0.2);
	margin: var(--pad-gap);
}
/* -------- } */


/* // :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// ::::::::::::::// star upload picture / gallery section:::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.upPicSection{
	display: grid;
	padding: var(--pad-gap);
	gap: var(--pad-gap);
}

.gallery{
	border:0.2em solid black;
	display: grid;
	gap: var(--pad-gap);
	justify-content: center;
}

.gallerySection{
	display: grid;
	grid-template-columns: 1fr;
	padding: var(--pad-gap);
	justify-content: center;
	border:0.2em solid greenyellow;
	gap: var(--pad-gap);
}



.imgContainer{
	display: grid;
	grid-template-columns: 1fr;
	border:0.2em solid rgb(233, 230, 40);
	gap:var(--pad-gap);
	position: relative;
}

.deleteGallPic{
	color:red;
	position: absolute;
	background-color: rgb(240, 240, 240);
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	padding: 0.15em 0;
	border-radius: 50%;

	top:0.5em;
	right: 0.5em;
}

.imgGall{
	
	width: 17em;
	height: 17em;
	object-fit: cover;
	object-position: center top;
	border: 0.02em solid red;
	overflow: hidden;
}

.closeGall{
	width: fit-content;
	justify-self: flex-end;
}





/* // :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// ::::::::::::::// end upload picture / gallery section:::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */









/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::MEDIA QUERY::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 25em) {
	.containerSignIn div, .containerSignUp div {
		text-align: right;
	}
	.logfieldwraper{
		display: block;
	}

	/* list of languages supported and order by */
	.lang-quote, .lang-historial, .orderBy{
		padding-right: var(--pad-gap);
	}


	.btn-logo {
		height: 180px;
		width: 180px;
	}



	/* Button to generate random quote (to get inspired) */
	.generateBtn{
		background: url("../img/getInspiredHover.svg");
		background-repeat: no-repeat;
		width: 1.9em;
		height:1.9em;
		cursor: pointer;
		border: none;
		border-radius: 0.5em;
		object-fit: cover;
		background-position: center;
		background-size: 1.5em 1.5em;
	}
		
		
	/* Button to display form to creater own quotes */	
	.createyoursBtn{
		background: url("../img/createyoursHover.svg");
		background-repeat: no-repeat;
		width: 1.9em;
		height:1.9em;
		cursor: pointer;
		border: none;
		border-radius: 0.5em;
		object-fit: cover;
		background-position: center center;
		background-size: 1.5em 1.5em;
	}

	/* save quote button */
	.saveQuoteBtn{
		background: url("../img/saveHover.svg");
		background-repeat: no-repeat;
		width: 1.9em;
		height:1.9em;
		cursor: pointer;
		border: none;
		border-radius: 0.5em;
		object-fit: cover;
		background-position: center;
		background-size: 1.5em 1.5em;
	}


	.saveQuoteBtn:disabled{
		opacity: 0.4;
		cursor: none;
		background: url("../img/save.svg");
		background-repeat: no-repeat;
		width: 1.9em;
		height:1.9em;
		border: none;
		border-radius: 0.5em;
		object-fit: cover;
		background-position: center;
		background-size: 1.5em 1.5em;
	}

	/* container for languages supported */
	.selectContainer{
		gap: calc(var(--pad-gap)/2);
	}
		
	/* Button to indicate which button is active */
	.btnActive{
		background-color:rgba(255, 255, 255, 0.404);
	}
	
	/* Button to indicate which button is inactive */
	.btnInactive{
		background-color:transparent;
		opacity: 0.7;
	}

	/* clear form button  */
	.clearForm{
		background: url("../img/clearForm.svg");
		background-repeat: no-repeat;
		width: 1.9em;
		height:1.9em;
		cursor: pointer;
		border: none;
		border-radius: 0.5em;
		object-fit: cover;
		background-position: center;
		background-size: 1.5em 1.5em;
	}

	/* user icon button  */
	.userIcon{
		background: url("../img/usericon.svg");
		background-repeat: no-repeat;
		width: 1.8em;
		height:1.8em;
		cursor: pointer;
		border: none;
		border-radius: 0.5em;
		object-fit: cover;
		background-position: center;
		background-size: 1.4em 1.4em;
		background-color:rgba(255, 255, 255, 0.104);
	}

/* gif picture for help content  */
	.helpSection img{
		width: 20em;
		height: auto;	
	}

}



@media screen and (min-width: 50em) {

html {
	font-size: 1.1em;
}


/* ############################################################# */
	/* ############################################################# */
	/* ############DANIEL UPDATES STARTS############################ */
	/* ############################################################# */
	/* ############################################################# */
	/* Login page - Main logo resizing */
	.btn-logo {
		height: 220px;
		width: 220px;
	}
	.div-logo {
		margin: auto;
		margin-right: 0;
	}
	.containerSignIn, .containerSignUp {
		margin: auto;
	}
	.form-login, .form-createAcc {
		margin: 0;
	}
	/* Logo and Login/Signup container grid */
	.div-body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "logo login login";
		margin-top: 5em;
	}
	

	/* =========MAIN CONTAINER================ */
	.mainly {
		width: 99%;
		justify-content: flex-end;
		margin: 0 auto;
		box-shadow: none;
  	}

	/* subcontainer for quote section and history section */
	.subcontainer{
		grid-template-columns: 2fr 1fr;
		gap:0;
	}

	/* container for quote section */
	.quotewraper{
		padding: 0 calc(var(--pad-gap)*5) 0 0;
	}

	/* Quote section and history section */
	.quote-stion, .histo-stion{
		box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.2);
	}

	/* ---- header for logo and text logo--------*/
	/* .mainHeader{
		padding: var(--pad-gap) calc(var(--pad-gap)*5);			
	} */

	/* history section  */
 	.histo-stion{
		display: grid
	}
 	/* quote section  */
  	.quote-stion{
		display: grid
 	}
	

	/* container for button to open history section */
	.openHistoContainer, .histolabel, .closeHistoBtn{
		display: none;
	}

	.quoteHeader{
		gap: calc(var(--pad-gap)*2);
	}

	.inspiredBorder{
		padding-right: calc(var(--pad-gap)*2);
	}

	
		/* -------Section to generate the quote ----- */
	.generate{
		padding:  calc(var(--pad-gap)*1) calc(var(--pad-gap)*2);
	}

	/* ----Section to display result of Random quotes (to get inspired) ----- */
	.result{
		padding: 0  calc(var(--pad-gap)*2) calc(var(--pad-gap)*2)  calc(var(--pad-gap)*2);
	}	

	/* Form to capture information to create own quotes  */
	.form-CreateQuote{	
		padding: 0  calc(var(--pad-gap)*2) calc(var(--pad-gap)*2)  calc(var(--pad-gap)*2);			
	}

	/* gif picture for help content  */
	.helpSection img{
		width: 25em;
		height: auto;	
	}
		
}

@media screen and (min-width: 75em) {

	/* =========MAIN CONTAINER============= */
	.mainly{
		width: 70em;
		justify-content: flex-end;
		margin: 0 auto;
	}


	/* Login page - Main logo resizing */
	.btn-logo {
		width: 350px;
		height: 350px;
	}
	.div-logo {
		margin: auto;
		margin-left: 10em;
	}
	
	/* Logo and Login/Signup container grid */
	.containerSignIn, .containerSignUp {
		margin: auto;
		margin-right: 12em;
	}
	.form-login, .form-createAcc {
		margin: 0;
	}
	.div-body {
		display: grid;
		/* flex-direction: column; */
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "logo login";
		/* margin: 15%; */
		margin-top: 5em;
	}
	
}
